<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              [label]="'USERS.LIST.ADD_BUTTON' | transloco"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              [label]="'USERS.LIST.DELETE_BUTTON' | transloco"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedUsers()"
              [disabled]="!selectedUsers || !selectedUsers.length"
            ></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"
          ></p-fileUpload>
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="users"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['name', 'surname', 'email', 'role']"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        [currentPageReportTemplate]="getCurrentPageReportTemplate()"
        [(selection)]="selectedUsers"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="uuid"
        [loading]="loading"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">{{ 'USERS.LIST.TITLE' | transloco }}</h5>
            <button
              pButton
              [label]="'USERS.LIST.CLEAR_FILTER' | transloco"
              class="p-button-outlined"
              icon="pi pi-filter-slash"
              (click)="clear(dt)"
            ></button>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                [placeholder]="'USERS.LIST.SEARCH' | transloco"
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
              {{ col.header }}
              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
              <ng-container *ngIf="col.type !== 'role'; else roleFilter">
                <p-columnFilter
                  type="{{ col.type }}"
                  field="{{ col.field }}"
                  display="menu"
                  placeholder=""
                  class="ml-auto"
                ></p-columnFilter>
              </ng-container>
              <ng-template #roleFilter>
                <p-columnFilter field="role" matchMode="equals" display="menu">
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-dropdown
                      [ngModel]="value"
                      [options]="roles"
                      (onChange)="filter($event.value)"
                      placeholder="Any"
                    >
                      <ng-template let-option pTemplate="item">
                        <p-tag
                          [value]="option"
                          [severity]="getSeverity(option)"
                        ></p-tag>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </ng-template>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
              <ng-container *ngIf="col.field !== 'role'; else roleTag">
                {{ rowData[col.field] }}
              </ng-container>
              <ng-template #roleTag>
                <p-tag
                  [value]="rowData[col.field]"
                  [severity]="getSeverity(rowData[col.field])"
                ></p-tag>
              </ng-template>
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-outlined mr-2"
                  (click)="editUser(rowData)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-outlined"
                  (click)="deleteUser(rowData)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="deleteUserDialog"
      [header]="'USERS.DELETE_DIALOG.TITLE_DIALOG' | transloco"
      [modal]="true"
      [style]="{ width: '450px' }"
      [draggable]="false"
      [resizable]="false"
      [breakpoints]="{ '500px': '75vw' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span
          *ngIf="user"
          [innerHTML]="
            'USERS.DELETE_DIALOG.TITLE' | transloco : { user: user.name }
          "
        ></span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          [label]="'USERS.DELETE_DIALOG.CANCEL_DIALOG' | transloco"
          (click)="deleteUserDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          [label]="'USERS.DELETE_DIALOG.CONFIRM_DIALOG' | transloco"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteUsersDialog"
      [header]="'USERS.DELETE_DIALOG.CONFIRM_DIALOG' | transloco"
      [modal]="true"
      [style]="{ width: '450px' }"
      [draggable]="false"
      [resizable]="false"
      [breakpoints]="{ '500px': '75vw' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>{{ 'USERS.DELETE_DIALOG.PLURAL_TITLE' | transloco }}</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          [label]="'USERS.DELETE_DIALOG.CANCEL_DIALOG' | transloco"
          (click)="deleteUsersDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          [label]="'USERS.DELETE_DIALOG.CONFIRM_DIALOG' | transloco"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
