<div class="layout-topbar">
  <button
    class="p-link layout-topbar-menu-button layout-topbar-button"
    style="margin-left: auto"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <button class="p-link layout-topbar-button" (click)="op.toggle($event)">
      <i class="pi pi-globe"></i>
      <span>{{ 'MENU.LANG' | transloco }}</span>
    </button>
    <p-overlayPanel #op>
      <p-listbox
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        [style]="{ width: '15rem' }"
        (onChange)="changeLanguage($event.value)"
      >
        <ng-template let-lang pTemplate="item">
          {{ 'LANG.' + lang | transloco }}
        </ng-template>
      </p-listbox>
    </p-overlayPanel>
  </div>
</div>

<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div
    class="flex flex-column align-items-center justify-content-center"
    style="margin-top: 6%"
  >
    <!-- <img
      src="assets/layout/images/{{
        layoutService.config.colorScheme === 'light'
          ? 'logo-dark'
          : 'logo-white'
      }}.png"
      alt="Sakai logo"
      class="mb-5 w-6rem flex-shrink-0"
    /> -->
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card 5 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <!-- <img
            src="assets/images/login/avatar.png"
            alt="Image"
            height="50"
            class="mb-3"
          /> -->
          <div class="text-900 text-3xl font-medium mb-3">
            {{ 'SIGN_UP.TITLE' | transloco }}
          </div>
          <span class="text-600 font-medium">{{
            'SIGN_UP.SUBTITLE' | transloco
          }}</span>
        </div>

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div>
            <!-- Campo para NAME -->
            <label for="name" class="block text-900 text-xl font-medium mb-2">{{
              'SIGN_UP.NAME.LABEL' | transloco
            }}</label>
            <input
              id="name"
              type="text"
              [placeholder]="'SIGN_UP.NAME.PLACEHOLDER' | transloco"
              formControlName="name"
              pInputText
              class="w-full md:w-30rem mb-2"
              style="padding: 1rem"
            />
            <small
              *ngIf="name.invalid && (name.dirty || name.touched)"
              class="mb-5 block p-error"
            >
              <div *ngIf="name.errors?.['required']">
                {{ 'SIGN_UP.NAME.ERROR' | transloco }}
              </div>
              <div *ngIf="name.errors?.['pattern']">
                {{ 'SIGN_UP.NAME.VALID' | transloco }}
              </div>
            </small>

            <!-- Campo para SURNAME -->
            <label
              for="surname"
              class="block text-900 text-xl font-medium mb-2"
              >{{ 'SIGN_UP.SURNAME.LABEL' | transloco }}</label
            >
            <input
              id="surname"
              type="text"
              [placeholder]="'SIGN_UP.SURNAME.PLACEHOLDER' | transloco"
              formControlName="surname"
              pInputText
              class="w-full md:w-30rem mb-2"
              style="padding: 1rem"
            />
            <small
              *ngIf="surname.invalid && (surname.dirty || surname.touched)"
              class="mb-5 block p-error"
            >
              <div *ngIf="surname.errors?.['required']">
                {{ 'SIGN_UP.SURNAME.ERROR' | transloco }}
              </div>
              <div *ngIf="surname.errors?.['pattern']">
                {{ 'SIGN_UP.NAME.VALID' | transloco }}
              </div>
            </small>

            <!-- Campo para EMAIL -->

            <label
              for="email1"
              class="block text-900 text-xl font-medium mb-2"
              >{{ 'SIGN_UP.EMAIL.LABEL' | transloco }}</label
            >
            <input
              id="email1"
              type="text"
              [placeholder]="'SIGN_UP.EMAIL.PLACEHOLDER' | transloco"
              formControlName="email"
              pInputText
              class="w-full md:w-30rem mb-2"
              style="padding: 1rem"
            />
            <small
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="mb-5 block p-error"
            >
              <div *ngIf="email.errors?.['required']">
                {{ 'SIGN_UP.EMAIL.ERROR' | transloco }}
              </div>
              <div *ngIf="email.errors?.['email']">
                {{ 'SIGN_UP.EMAIL.VALID' | transloco }}
              </div>
            </small>

            <!-- Campo para PASSWORD -->

            <label
              for="password"
              class="block text-900 font-medium text-xl mb-2"
              >{{ 'SIGN_UP.PASSWORD.LABEL' | transloco }}</label
            >
            <p-password
              id="password"
              formControlName="password"
              [placeholder]="'SIGN_UP.PASSWORD.LABEL' | transloco"
              [toggleMask]="true"
              styleClass="mb-2"
              inputStyleClass="w-full p-3 md:w-30rem"
            ></p-password>
            <small
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="mb-5 block p-error"
            >
              <div *ngIf="password.errors?.['required']">
                {{ 'SIGN_UP.PASSWORD.ERROR' | transloco }}
              </div>
            </small>

            <!-- Campo para REPEAT PASSWORD -->

            <label
              for="confirmPassword"
              class="block text-900 font-medium text-xl mb-2"
              >{{ 'SIGN_UP.REPEAT_PASSWORD.LABEL' | transloco }}</label
            >
            <p-password
              id="confirmPassword"
              formControlName="confirmPassword"
              [placeholder]="'SIGN_UP.REPEAT_PASSWORD.LABEL' | transloco"
              [toggleMask]="true"
              styleClass="mb-2"
              inputStyleClass="w-full p-3 md:w-30rem"
            ></p-password>
            <small
              *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
              "
              class="mb-5 block p-error"
            >
              <div *ngIf="confirmPassword.errors?.['required']">
                {{ 'SIGN_UP.REPEAT_PASSWORD.ERROR' | transloco }}
              </div>
            </small>

            <div class="mb-5 gap-5">
              <button
                type="submit"
                pButton
                pRipple
                [label]="'SIGN_UP.SUBMIT' | transloco"
                class="w-full p-3 text-xl mt-5"
                (onClick)="onSubmit()"
                [disabled]="signUpForm.invalid"
              ></button>
            </div>
            <div class="mt-2">
              {{ 'SIGN_UP.LOGIN.ACCOUNT' | transloco }}
              <a routerLink="/auth/login">
                {{ 'SIGN_UP.LOGIN.LOGIN' | transloco }}</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
