<form [formGroup]="signUpForm">
  <p-card header="SIGN UP" [style]="{ width: '360px' }">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        class="w-full"
        name="name"
        formControlName="name"
        placeholder="Type your name"
      />
      <small
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="block p-error"
      >
        <div *ngIf="name.errors?.['required']">name is required</div>
        <div *ngIf="name.errors?.['pattern']">name should be valid</div>
      </small>
    </div>

    <div class="field">
      <label for="surname">Surname</label>
      <input
        type="text"
        pInputText
        class="w-full"
        name="surname"
        formControlName="surname"
        placeholder="Type your surname"
      />
      <small
        *ngIf="surname.invalid && (surname.dirty || surname.touched)"
        class="block p-error"
      >
        <div *ngIf="surname.errors?.['required']">surname is required</div>
        <div *ngIf="surname.errors?.['pattern']">surname should be valid</div>
      </small>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        class="w-full"
        name="email"
        formControlName="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        formControlName="password"
        placeholder="Type your password"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required</div>
      </small>
    </div>
    <div class="field">
      <label for="confirmPassword">confirmPassword</label>
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Type your confirmPassword"
      />
      <small
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="block p-error"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          confirmPassword is required
        </div>
      </small>
      <small
        class="block p-error"
        *ngIf="signUpForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
      >
        Password should match
      </small>
    </div>
    <p-button
      label="SIGN UP"
      styleClass="w-full"
      (onClick)="onSubmit()"
      [disabled]="signUpForm.invalid"
    ></p-button>
    <div class="mt-2">
      Already a member? <a routerLink="/auth/log-in"> Login</a>
    </div>
  </p-card>
</form>
