<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img
      src="assets/layout/images/{{
        layoutService.config.colorScheme === 'light'
          ? 'logo-dark'
          : 'logo-white'
      }}.png"
      alt="logo"
    />
    <span></span>
  </a>

  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <button class="p-link layout-topbar-button" (click)="changeColor()">
      <i [ngClass]="isDarkTheme ? 'pi pi-sun' : 'pi pi-moon'"></i>
      <span>{{ 'MENU.THEME' | transloco }}</span>
    </button>
    <button class="p-link layout-topbar-button" [routerLink]="'/profile'">
      <i class="pi pi-user"></i>
      <span>{{ 'MENU.USERS.PROFILE' | transloco }}</span>
    </button>

    <button class="p-link layout-topbar-button" (click)="op.toggle($event)">
      <i class="pi pi-globe"></i>
      <span>{{ 'MENU.LANG' | transloco }}</span>
    </button>
    <button class="p-link layout-topbar-button" (click)="logout()">
      <i class="pi pi-power-off"></i>
      <span>{{ 'MENU.LOGOUT' | transloco }}</span>
    </button>
    <p-overlayPanel #op>
      <p-listbox
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        [style]="{ width: '15rem' }"
        (onChange)="changeLanguage($event.value)"
      >
        <ng-template let-lang pTemplate="item">
          {{ 'LANG.' + lang | transloco }}
        </ng-template>
      </p-listbox>
    </p-overlayPanel>
  </div>
</div>
