<h1>Dashboard de sensores binarios</h1>
<!-- <div class="card">
  <button
    type="button"
    pButton
    pRipple
    (click)="show()"
    label="Show"
    class="p-button-success"
  ></button>
</div> -->
<!-- <img
  _ngcontent-ofj-c119=""
  src="https://grafana.com/media/products/cloud/grafana/grafana-dashboard-english.png"
  alt="TFM"
  style="width: 102%"
/> -->
<iframe
  id="grafanaframe"
  [src]="grafanaUrlBinary"
  width="100%"
  height="600px"
  frameborder="0"
></iframe>

<h1>Dashboard de sensores de localización</h1>

<iframe
  id="grafanaframe"
  [src]="grafanaUrlLocation"
  width="100%"
  height="600px"
  frameborder="0"
></iframe>
