<form [formGroup]="loginForm" class="form-container">
  <p-card class="card">
    <header class="head-form">
      <h2>Log In</h2>
      <!--     A welcome message or an explanation of the login form -->
      <p>login here using your username and password</p>
    </header>
    <div class="field">
      <span class="w-full p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          pInputText
          class="w-full"
          name="email"
          formControlName="email"
          placeholder="Type your email"
        />
      </span>

      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>
    <div class="field">
      <span class="w-full p-input-icon-left">
        <i class="pi pi-key"></i>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Type your password"
        />
      </span>

      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required</div>
      </small>
    </div>
    <p-button
      label="SIGN IN"
      styleClass="login-button w-full"
      (onClick)="onSubmit()"
      [disabled]="loginForm.invalid"
    ></p-button>
    <div class="mt-2">
      Not a member? <a routerLink="/auth/sign-up"> Register</a>
    </div>
  </p-card>
</form>
