<div class="col-12">
  <form [formGroup]="profileForm" class="p-fluid p-formgrid grid">
    <div [ngClass]="{ card: applyCardClass }">
      <!-- <h5 class="mb-6">{{ title }}</h5> -->
      <div
        class="flex flex-column align-items-center justify-content-center mb-7"
      >
        <input
          type="file"
          (change)="onFileSelected($event)"
          style="display: none"
          #fileInput
        />
        <div class="avatar-container" (click)="fileInput.click()">
          <p-avatar
            [image]="user?.photoUrl"
            size="xlarge"
            shape="circle"
          ></p-avatar>
          <i class="camera-icon pi pi-camera"></i>
        </div>
        <p class="mt-2 text-xl text-color-secondary">{{ avatarName }}</p>
        <p class="mt-2 text-xl text-color-secondary">{{ avatarEmail }}</p>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <!-- Campo UUID -->
          <span class="p-float-label">
            <input
              pInputText
              id="uuid"
              formControlName="uuid"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <label htmlFor="uuid">{{ 'PROFILE.UUID.LABEL' | transloco }}</label>
          </span>
          <small
            *ngIf="uuid.invalid && (uuid.dirty || uuid.touched)"
            class="block p-error"
          >
            <div *ngIf="uuid.errors?.['required']">
              {{ 'PROFILE.UUID.ERROR' | transloco }}
            </div>
            <div *ngIf="uuid.errors?.['pattern']">
              {{ 'PROFILE.UUID.VALID' | transloco }}
            </div>
          </small>
        </div>
        <div class="field col-12 md:col-6">
          <!-- Campo Email -->
          <span class="p-float-label">
            <input
              pInputText
              id="email"
              formControlName="email"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <label htmlFor="email">{{
              'PROFILE.EMAIL.LABEL' | transloco
            }}</label>
          </span>
          <small
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="block p-error"
          >
            <div *ngIf="email.errors?.['required']">
              {{ 'PROFILE.EMAIL.ERROR' | transloco }}
            </div>
            <div *ngIf="email.errors?.['email']">
              {{ 'PROFILE.EMAIL.VALID' | transloco }}
            </div>
          </small>
        </div>
        <div class="field col-12 md:col-4">
          <!-- Campo Username -->
          <span class="p-float-label">
            <input
              pInputText
              id="name"
              formControlName="name"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <label htmlFor="name">{{ 'PROFILE.NAME.LABEL' | transloco }}</label>
          </span>
          <small
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="block p-error"
          >
            <div *ngIf="name.errors?.['required']">
              {{ 'PROFILE.NAME.ERROR' | transloco }}
            </div>
            <div *ngIf="name.errors?.['pattern']">
              {{ 'PROFILE.NAME.VALID' | transloco }}
            </div>
          </small>
        </div>
        <div class="field col-12 md:col-4">
          <!-- Campo Surname -->
          <span class="p-float-label">
            <input
              pInputText
              id="surname"
              formControlName="surname"
              class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <label htmlFor="surname">{{
              'PROFILE.SURNAME.LABEL' | transloco
            }}</label>
          </span>
          <small
            *ngIf="surname.invalid && (surname.dirty || surname.touched)"
            class="block p-error"
          >
            <div *ngIf="surname.errors?.['required']">
              {{ 'PROFILE.SURNAME.ERROR' | transloco }}
            </div>
            <div *ngIf="surname.errors?.['pattern']">
              {{ 'PROFILE.SURNAME.VALID' | transloco }}
            </div>
          </small>
        </div>
        <div class="field col-12 md:col-4">
          <!-- Campo Role -->
          <span class="p-float-label">
            <p-dropdown
              formControlName="role"
              [options]="roles"
              placeholder="Select a role"
              optionLabel="label"
              inputId="float-label"
            ></p-dropdown>
            <label for="float-label">{{
              'PROFILE.ROLE.LABEL' | transloco
            }}</label>
          </span>

          <small
            *ngIf="role.invalid && (role.dirty || role.touched)"
            class="block p-error"
          >
            <div *ngIf="role.errors?.['required']">
              {{ 'PROFILE.ROLE.ERROR' | transloco }}
            </div>
          </small>
        </div>
        <div class="field col-12 md:col-6">
          <!-- Campo para PASSWORD -->
          <span class="p-float-label">
            <p-password
              id="password"
              formControlName="password"
              [toggleMask]="true"
              styleClass="mb-2"
            ></p-password>
            <label for="password">{{
              'PROFILE.PASSWORD.LABEL' | transloco
            }}</label>
          </span>
          <small
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="mb-5 block p-error"
          >
            <div *ngIf="password.errors?.['required']">
              {{ 'PROFILE.PASSWORD.ERROR' | transloco }}
            </div>
          </small>
        </div>
        <div class="field col-12 md:col-6">
          <!-- Campo para REPEAT PASSWORD -->
          <span class="p-float-label">
            <p-password
              id="confirmPassword"
              formControlName="confirmPassword"
              [toggleMask]="true"
              styleClass="mb-2"
            ></p-password>
            <label for="confirmPassword">{{
              'PROFILE.REPEAT_PASSWORD.LABEL' | transloco
            }}</label>
          </span>
          <small
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="mb-5 block p-error"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              {{ 'PROFILE.REPEAT_PASSWORD.ERROR' | transloco }}
            </div>
          </small>
        </div>
      </div>
      <div class="flex justify-content-end">
        <p-button
          [label]="'BUTTONS.CANCEL' | transloco"
          [ngStyle]="{ 'margin-right': '1rem' }"
          [routerLink]="isNew ? '/users' : '/'"
          (onClick)="onCancel()"
        ></p-button>
        <p-button
          [label]="
            isNew
              ? ('BUTTONS.CREATE' | transloco)
              : ('BUTTONS.SAVE' | transloco)
          "
          (onClick)="isNew ? onSubmitCreate() : onSubmitUpdate()"
          [disabled]="profileForm.invalid || profileForm.pristine"
        ></p-button>
      </div>
    </div>
  </form>
</div>
